@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat+Roboto');

h1 {
  font-family: 'Monserrat';
  font-size: 50px;
  color: #36006C;
  margin-top: 128px;
  text-align:center;
}

p {
  font-family: 'Roboto';
  font-size: 21px;
  margin-top: 43px;
  width: 754px;
  margin: 0 auto;
}

h2 {
  font-family: 'Monserrat';
  font-size: 21px;
  margin-top: 35px;
  text-align:center;
}